@use 'mixin' as m;

.result-section {
  position: relative;
  background: m.$yellow;

  figure {
    .dog-img {
      margin: 0 auto;
      width: 100%;
    }
  }

  .result-form {
    text-align: center;

    a {
      position: absolute;
      bottom: 50px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      width: 130px;
      height: 40px;
      background: #371d1e;
      color: #FFF;
      border-radius: 5px;

      &.reset {
        left: 30%;
        transform: translate(-50%, -50%);
      }

      &.save {
        right: 30%;
        transform: translate(50%, -50%);
      }

      &:first-child {
        margin-right: 50px;
      }
    }
  }
}