@use 'mixin' as m;

.result-section {
  position: relative;
  background: m.$yellow;
  .dog-img {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 95%;
  }

  .result-form {
    text-align: center;

    a {
      position: absolute;
      bottom: 30px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      width: 130px;
      height: 40px;
      background: m.$brown;
      color: #FFF;
      border-radius: 5px;
      transition: all .5s;
      &:hover{
        color: m.$brown;
        background: m.$skyblue;
        font-weight: bold;
      }

      &.reset {
        left: 30%;
        transform: translate(-50%, -50%);
      }

      &.save {
        right: 30%;
        transform: translate(50%, -50%);
      }

      &:first-child {
        margin-right: 50px;
      }
    }
  }
}