@use 'mixin' as m;

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
  font-size: 1em;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  @include m.scrollbar;
  background: rgba(m.$yellow, .2);
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(95%, 500px);
  height: min(97%, 800px);
  
  section, >form {
    flex: 1;
    position: relative;
    .loader{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      background: m.$yellow;
      img{
        width: 80%;
        max-width: 300px;
      }
    }
  }
}